# Environment variables
.env

# Go binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Log files
*.log

# imagine generation files
*.generated_images

# Database file
*.db

# key
google-credentials.json
config.yaml

# Node.js dependencies (追加)
node_modules/
music_player/node_modules/